@import url(//db.onlinewebfonts.com/c/6120730d733d5d3285442db073c7944a?family=Butler);
@font-face {
    font-family: "Butler";
    src: url("//db.onlinewebfonts.com/t/6120730d733d5d3285442db073c7944a.eot");
    src: url("//db.onlinewebfonts.com/t/6120730d733d5d3285442db073c7944a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/6120730d733d5d3285442db073c7944a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/6120730d733d5d3285442db073c7944a.woff") format("woff"), url("//db.onlinewebfonts.com/t/6120730d733d5d3285442db073c7944a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/6120730d733d5d3285442db073c7944a.svg#Butler") format("svg");
};
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600&family=Roboto+Slab:wght@100;200;300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
